<nav class="bg-white border-gray-200 px-6 sm:px-4 pt-4 pb-12 md:pb-24 rounded">
  <div class="container flex flex-wrap justify-between items-center mx-auto w-full">
    {% load static %}
    <a href="{% url 'landing_page:index' %}"><img src="{% static 'landing_page/img/verinvest_logo-1.png' %}" class="mr-3 h-6 sm:h-9" alt="Verinvest Logo"></a>      
      <div class="flex items-center md:order-2">
        {% if user_loggedin == False %}
        <div id="login_register_cta" class="flex mr-4 md:mr-16">
          <div id="login" class="mr-2 md:mr-4">
            <a href="{% url 'landing_page:login' %}">
                <button type="button" class="px-4 py-2 bg-primary text-white border border-primary rounded">
                  Login
                </button>
            </a>
          </div>
          <div id="register">
            <a href="{% url 'landing_page:register' %}">
              <button type="button" class="px-4 py-2 bg-transparent text-primary border border-primary rounded">
                Register
              </button>
            </a>
          </div>
        </div>
        {% else %}
          <div id="userDropdownContainer" class="relative">
            <button id="userDropdownBtn" type="button" class="flex mr-3 text-sm bg-transparent rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-8 h-8 rounded-full" src="{% static 'landing_page/img/user.png' %}" alt="user photo">
            </button>
            <!-- Dropdown menu -->
            <div id="userDropdown" class="hidden absolute top-full right-0 -ml-4 z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow" id="user-dropdown" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom">
              <div class="py-3 px-4">
                <span class="block text-sm text-gray-900">{{first_name}} {{last_name}}</span>
                <span class="block text-sm font-medium text-gray-500 truncate">Domain Expert {{user_type}}</span>
              </div>
              <ul class="py-1" aria-labelledby="user-menu-button">
                <li>
                  <a href="{% url 'profile_page:show_profile' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                </li>
                <li>
                  <a href="{% url 'landing_page:logout' %}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
          <button id="hamburgerNavbar" data-collapse-toggle="mobile-menu-2" type="button" class="inline-flex items-center p-2 ml-1 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="mobile-menu-2" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
          </button>
        {% endif %}
      </div>

    <!-- Main Navbar -->
    <div class="hidden justify-between items-center w-full md:flex md:order-1 md:w-auto" id="mobile-menu-2">
      <ul class="flex flex-col p-4 mt-4 bg-gray-50 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:bg-white">
        <li>
            <a href="{% url 'landing_page:index' %}" class="block border md:border-0 py-4 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0">Home</a>
        </li>
        <li>
          <a href="{% url 'collection:show_collection' %}" class="block border md:border-0 py-4 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0  ">Collections</a>
        </li>
        <li>
          <a href="{% url 'about:about' %}" class="block border md:border-0 py-4 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0  ">About</a>
        </li>
        <li>
          <a href="{%url 'landing_page:forto' %}"  class="block border md:border-0 py-4 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary md:p-0  ">Add Forto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>