{% extends 'base.html' %}

{% block content %}
<div id="loginPageContainer" class="flex flex-col items-center justify-center px-12">
    <div id="loginPage" class="w-8/12">
        <div id="loginHeader" class="pb-4 md:pb-12">
            <h1 class="mb-4 text-3xl md:text-4xl lg:text-5xl font-extrabold tracking-tight leading-none text-gray-900">Join us and ignite <span class="text-3xl md:text-4xl lg:text-5xl underline underline-offset-3 decoration-4 decoration-primary">smart discussions</span> nationwide.</h1>
            <p class="text-lg font-normal text-gray-500 lg:text-xl">Here at Verinvest we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>
        </div>

        <form method="post" id="registerForm">
            {% csrf_token %}
            <div class="mb-6">
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900">
                    {{ form.email.label_tag }}
                </label>
                {{ form.email }}
            </div> 
            <div class="grid gap-6 mb-6 md:grid-cols-2">
                <div>
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900">
                        {{ form.first_name.label_tag }}
                    </label>
                    {{ form.first_name }}
                </div>
                <div>
                    <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900">
                        Last name
                    </label>
                    {{ form.last_name }}
                </div>
    
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">I am a...</label>
                    {{ form.user_type }}
                </div>
            </div>
            <div class="mb-6">
                <!-- STYLE INPUT FORMS - REFER TO COMMIT JERE 71d658bb09536edc2f167fc63d78fda3b7a935bf -->
                <label for="text" class="block mb-2 text-sm font-medium text-gray-900">
                    {{ form.username.label_tag }}
                </label>
                {{ form.username }}
            </div> 
            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900">
                    {{ form.password1.label_tag }}
                </label>
                {{ form.password1 }}
            </div> 
            <div class="mb-6">
                <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900">
                    {{ form.password2.label_tag }}
                </label>
                {{ form.password2 }}
            </div> 
            <div class="flex justify-center items-center">
                <button type="submit" name="submit" class="text-white bg-primary hover:bg-primary focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Create Account</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}