{% extends 'base.html' %}

{% load static %}

{% block meta %}
{% endblock meta %}

{% block content %}

<div class="flex flex-col items-center text-center px-12 h-screen">
    <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl ">About Verinvest</h1>
   `<p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">Kominfo Angkat Isu Literasi Digital untuk Cegah Korban Investasi Ilegal di G20</p>
    <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">Kementerian Komunikasi dan Informatika akan turut mengangkat isu-isu untuk mencegah praktik perdagangan berjangka atau investasi ilegal lintas negara yang umumnya memanfaatkan platform digital dalam Presidensi. Melalui Digital Economy Working Group (DEWG), memiliki dua pembahasan utama yang berhubungan dengan pencegahan investasi ilegal.

        Juru Bicara Kementerian, Dedy Permadi, mengatakan kedua pembahasan itu meliputi peningkatan literasi digital dan arus data lintas batas negara. Berkaitan dengan kecakapan literasai digital, Dedy mengatakan Indonesia akan mendorong supaya kemajuan teknologi bisa dikuasi dan dimanfaatkan oleh masyarakat global secara aman. Jadi kalau ada trading atau investasi ilegal, itu salah satu bentuk tantangan kecakapan digital di era sekarang. Itu perlu menjadi perhatian oleh negara-negara dunia, kata Dedy dalam konferensi pers Work Shop I DEWG yang digelar di Hotel Pullman, dikutip dari tempo.co,
        Selasa (08/03/2022).</p>
</div>
{% endblock content %}